@charset "utf-8";
/* ====== CSS Document ====== */


/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'PlayfairDisplay-Regular';
  src: url('../font/playfair-display-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'PlayfairDisplay-midium';
  src: url('../font/playfair-display-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-600 - latin */
@font-face {
  font-family: 'PlayfairDisplay-simibold';
  src: url('../font/playfair-display-v30-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-500 - latin */
@font-face {
  font-family: 'OpenSans-medium';
  src: url('../font/open-sans-v35-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'OpenSans-semibold';
  src: url('../font/open-sans-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gowun-dodum-regular - korean_latin */
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('../font/gowun-dodum-v7-korean_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../font/montserrat-v25-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* catamaran-700 - latin */
@font-face {
  font-family: 'Catamaran-Bold';
  src: url('../font/catamaran-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




body { }

section { position: relative; }












/* ####### Desktop(start) ####### */
	@media screen and (min-width: 1025px) {


	/*header(D_start) */

	header { overflow: hidden; z-index: 100; position: absolute; width: 100%; height: 120px; }
	header.on { height: 100vh; }


	header nav { overflow: hidden; position: relative; width: 100%; height: 100vh; transform: translateX(100%); transition: transform 0.3s; }
	header nav > ul { display: none; }
	header.on nav { overflow: hidden; z-index: 80; position: absolute; top: 0; display: block; width: 100%; height: 100vh; transform: translateX(0); background: #4c7e2e; }

	header nav div.info_wrap { display: none; }
	header.on nav div.info_wrap { display: inline-block; position: absolute; top: 30px; right: 100px; text-align: right; }
	header.on nav div.info_wrap button { display: inline-block; width: 3%; }
	header.on nav div.info_wrap img { width: 100%; filter: invert(94%) sepia(76%) saturate(2%) hue-rotate(69deg) brightness(115%) contrast(101%); }
	header.on nav div.info_wrap img:hover { filter: invert(79%) sepia(2%) saturate(4719%) hue-rotate(50deg) brightness(100%) contrast(63%); }
	header.on nav div.info_wrap button + button { margin-left: 10px; }

	header button.btn_menu { z-index: 90; position: absolute; top: 30px; right: 20px; width: 40px; height: 30px; }
	header button.btn_menu span { position: absolute; right: 0; display: inline-block; height: 2px; background: black; }
	header button.btn_menu span:nth-child(1) { top: 0; width: 35px; }
	header button.btn_menu span:nth-child(2) { top: 15px; width: 25px; }
	header button.btn_menu span:nth-child(3) { bottom: 0; width: 40px; }

	header.on button.btn_menu span { background: #fff; }
	header.on button.btn_menu:hover span { background: #a0b78d; }
	header.on button.btn_menu span:nth-child(1) { transform: rotate(45deg); top: 15px; width: 40px; }
	header.on button.btn_menu span:nth-child(2) { display: none; }
	header.on button.btn_menu span:nth-child(3) { transform: rotate(135deg); bottom: 12px; width: 40px; }

	header.on nav > ul { display: inline-block; position: relative; left: 50%; top: 45%; transform: translate(-50%, -45%); text-align: center; }
	header.on nav > ul > li { float: left; position: relative; padding: 0 50px; text-align: center; }
	header.on nav > ul > li > button.btn_sub { display: inline-block; height: 90px; font-size: 22px; font-family: 'OpenSans-semibold'; line-height: 90px; white-space: nowrap; color: #fff; }
	header.on nav > ul > li:hover > button.btn_sub { color: #0f2304; }
	header.on nav > ul > li:nth-child(2) > button.btn_sub { font-family: 'GowunDodum-Regular'; }
	header.on nav > ul > li:nth-child(2):hover > button.btn_sub { font-weight: bold; }
	header.on ul.sub > li > a { display: block; padding: 10px 0; font-family: 'GowunDodum-Regular'; }
	header.on ul.sub > li:hover > a span::before { content: ""; position: relative; top: 30px; display: block; width: auto; height: 1px; background: #fff; }
	header.on ul.sub > li > a.active span::before { content: ""; position: relative; top: 30px; display: block; width: auto; height: 1px; background: #fff; }
	header.on ul.sub > li > a > span { font-size: 18px; color: #fff; }


	header > div.logo { z-index: 100; position: absolute; left: 40px; top: 20px; display: inline-block; }
	header.on > div.logo { color: #fff; }
	header.on > div.logo h1::before { background: #fff; }
	.logo { position: relative; display: inline-block; }
	.logo h1 { position: relative; font-size: 30px; font-weight: normal; font-family: 'PlayfairDisplay-Regular'; }
	.logo h1::before { content: ""; display: block; position: absolute; left: -10px; bottom: 5px; width: 2px; height: 65px; background: black; }
	.logo p { bottom: 0; font-size: 12px; font-family: 'Montserrat-Thin'; font-weight: bold; letter-spacing: 5px; }

	/*header(D_end) */



	


	/* footer(D_start)*/


	section.footer { width: 100%; height: 200px; background: #4c7e2e; color: #fff; }
	section.footer .inner_wrap { height: 100%;  }


	section.footer div.logo { float: left; position: relative; top: 50%; transform: translateY(-50%); }
	.logo h3 { position: relative; font-size: 30px; font-weight: normal; font-family: 'PlayfairDisplay-Regular'; }
	.logo h3::before { content: ""; display: block; position: absolute; left: -10px; bottom: 5px; width: 2px; height: 65px; background: #fff; }
	.logo p { font-size: 12px; font-family: 'Montserrat-Thin'; font-weight: bold; letter-spacing: 5px; }


	section.footer p.copy { display: inline-block; position: relative; top: 50%; left: 35%; transform: translate(-50%, -35%); font-size: 16px; font-family: 'GowunDodum-Regular'; }


	section.footer div.ft_wrap { display: inline-block; position: relative; top: 80%; left: 130%; transform: translate(-80%, -130%); }

	section.footer div.ft_wrap div.ft_ico { position: relative; left: 280px; width: 5%; margin-bottom: 15px; }
	section.footer div.ft_wrap div.ft_ico a:nth-child(1) { position: relative; top: 52px; right: 70px; }
	section.footer div.ft_wrap div.ft_ico img { width: 100%; object-fit: cover; filter: invert(94%) sepia(76%) saturate(2%) hue-rotate(69deg) brightness(115%) contrast(101%); }
	section.footer div.ft_wrap div.ft_ico img:hover { filter: invert(79%) sepia(2%) saturate(4719%) hue-rotate(50deg) brightness(100%) contrast(63%); }

	section.footer div.ft_wrap ul li { float: left; font-size: 16px; font-family: 'GowunDodum-Regular'; }
	section.footer div.ft_wrap ul li + li { margin-left: 10px; }
	section.footer div.ft_wrap ul li + li::before { content: ""; display: inline-block; margin-right: 5px; width: 1px; height: 12px; background: #fff; }
	section.footer div.ft_wrap ul li:hover a { color: #9DB987; }


	/* footer(D_end)*/



}
/* ####### Desktop(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!s!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!##########################!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ####### Tablet(start) ####### */
	@media screen and (min-width: 768px) and (max-width: 1024px) {




	
	/* header(T_start) */

	header { overflow: hidden; z-index: 100; position: absolute; width: 100%; height: 120px; }
	header.on { height: 100vh; }


	header nav { overflow: hidden; position: relative; width: 100%; height: 100vh; transform: translateX(100%); transition: transform 0.3s; }
	header nav > ul { display: none; }
	header.on nav { overflow: hidden; z-index: 80; position: absolute; top: 0; display: block; width: 100%; height: 100vh; transform: translateX(0); background: #4c7e2e; }

	header nav div.info_wrap { display: none; }
	header.on nav div.info_wrap { display: inline-block; position: absolute; top: 30px; right: 100px; text-align: right; }
	header.on nav div.info_wrap button { display: inline-block;  width: 5% }
	header.on nav div.info_wrap img { width: 100%; filter: invert(94%) sepia(76%) saturate(2%) hue-rotate(69deg) brightness(115%) contrast(101%); }
	header.on nav div.info_wrap img:hover { filter: invert(79%) sepia(2%) saturate(4719%) hue-rotate(50deg) brightness(100%) contrast(63%); }
	header.on nav div.info_wrap button + button { margin-left: 10px; }

	header button.btn_menu { z-index: 90; position: absolute; top: 30px; right: 20px; width: 40px; height: 30px; }
	header button.btn_menu span { position: absolute; right: 0; display: inline-block; height: 2px; background: black; }
	header button.btn_menu span:nth-child(1) { top: 0; width: 35px; }
	header button.btn_menu span:nth-child(2) { top: 15px; width: 25px; }
	header button.btn_menu span:nth-child(3) { bottom: 0; width: 40px; }

	header.on button.btn_menu span { background: #fff; }
	header.on button.btn_menu span:nth-child(1) { transform: rotate(45deg); top: 15px; width: 40px; }
	header.on button.btn_menu span:nth-child(2) { display: none; }
	header.on button.btn_menu span:nth-child(3) { transform: rotate(135deg); bottom: 12px; width: 40px; }

	header.on nav > ul { display: inline-block; position: relative; left: 0; top: 60%; height: 60%; transform: translate(0, -60%); text-align: center; }
	header.on nav > ul > li { float: left; display: inline-block; position: relative; padding: 0 30px; width: 33.3333%; text-align: center; }
	header.on nav > ul > li:first-child { margin-top: 50px; }
	header.on nav > ul > li + li { margin-top: 50px; }
	header.on nav > ul > li > button.btn_sub { display: inline-block; height: 60px; font-size: 22px; font-family: 'OpenSans-semibold'; line-height: 60px; white-space: nowrap; color: #fff; }
	header.on nav > ul > li:nth-child(2) > button.btn_sub { font-family: 'GowunDodum-Regular'; }
	header.on ul.sub > li > a { display: block; padding: 6px 0; font-family: 'GowunDodum-Regular'; }
	header.on ul.sub > li > a > span { font-size: 18px; color: #fff; }


	header > div.logo { z-index: 100; position: absolute; left: 40px; top: 20px; width: 10%; }
	header.on > div.logo { color: #fff; }
	header.on > div.logo h1::before { background: #fff; }
	.logo { position: relative; display: inline-block; }
	.logo h1 { position: relative; font-size: 30px; font-weight: normal; font-family: 'PlayfairDisplay-Regular'; }
	.logo h1::before { content: ""; display: block; position: absolute; left: -10px; bottom: 5px; width: 2px; height: 65px; background: black; }
	.logo p { font-size: 12px; font-family: 'Montserrat-Thin'; font-weight: bold; letter-spacing: 5px; }

	/* header(T_end) */



	/* footer(T_start)*/

	section.footer { margin-top: 80px; width: 100%; height: 200px; background: #4c7e2e; color: #fff; }
	section.footer .inner_wrap { padding: 0 3.90623vw; height: 100%; }


	section.footer div.logo { float: left; position: relative; top: 50%; transform: translateY(-50%); }
	.logo h3 { position: relative; font-size: 30px; font-weight: normal; font-family: 'PlayfairDisplay-Regular'; }
	.logo h3::before { content: ""; display: block; position: absolute; left: -10px; bottom: 5px; width: 2px; height: 65px; background: #fff; }
	section.footer .logo p { font-size: 12px; font-family: 'Montserrat-Thin'; font-weight: bold; letter-spacing: 5px; }


	section.footer p.copy { display: inline-block; position: relative; top: 50%; left: 30%; transform: translate(-50%, -50%); font-size: 16px; font-family: 'GowunDodum-Regular'; }


	section.footer div.ft_wrap { display: inline-block; position: relative; top: 30%; left: 85%; transform: translate(-30%, -85%); }

	section.footer div.ft_wrap div.ft_ico { position: relative; left: 280px; width: 5%; margin-bottom: 15px; }
	section.footer div.ft_wrap div.ft_ico a:first-child { position: relative; top: 35px; right: 60px; }
	section.footer div.ft_wrap div.ft_ico img { width: 100%; object-fit: cover; filter: invert(94%) sepia(76%) saturate(2%) hue-rotate(69deg) brightness(115%) contrast(101%); }
	section.footer div.ft_wrap div.ft_ico img:hover { filter: invert(79%) sepia(2%) saturate(4719%) hue-rotate(50deg) brightness(100%) contrast(63%); }

	section.footer div.ft_wrap ul li { float: left; font-size: 16px; font-family: 'GowunDodum-Regular'; }
	section.footer div.ft_wrap ul li + li { margin-left: 10px; }
	section.footer div.ft_wrap ul li + li::before { content: ""; display: inline-block; margin-right: 5px; width: 1px; height: 12px; background: #fff; }
	section.footer div.ft_wrap ul li:hover a { color: #9DB987; }

	/* footer(T_end)*/




}
/* ####### Tablet(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!####!!!!!!!!!!!!####!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!##!!!!!!!!!!##!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!##!!!!!!!!##!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!##!!!!!!##!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!##!!!!##!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!##!##!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!##!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/


/* ####### Mobile(start) ####### */
	@media screen and (max-width: 767px) {

	


	/* header(M_start) */

	header { overflow: hidden; z-index: 100; position: absolute; width: 100%; height: 120px; }
	header.on { height: 100vh; }

	header nav { position: relative; width: 100%; height: 100vh; transform: translateX(100%); transition: transform 0.2s; }
	header.on nav { overflow: hidden; z-index: 80; position: absolute; top: 0; display: block; width: 100%; height: 100vh; transform: translateX(0); background: #fff; }

	header nav div.info_wrap { display: none; }
	header.on nav div.info_wrap { display: inline-block; position: absolute; top: 29px; right: 80px; text-align: right; }
	header.on nav div.info_wrap button { display: inline-block;  width: 9%; }
	header.on nav div.info_wrap button + button { margin-left: 8px; }
	header.on nav div.info_wrap img { width: 100%; }

	header button.btn_menu { z-index: 90; position: absolute; top: 30px; right: 20px; width: 30px; height: 30px; }
	header button.btn_menu span { position: absolute; right: 0; display: inline-block; height: 2px; background: black; }
	header button.btn_menu span:nth-child(1) { top: 0; width: 32px; }
	header button.btn_menu span:nth-child(2) { top: 14px; width: 18px; }
	header button.btn_menu span:nth-child(3) { bottom: 0; width: 27px; }

	header.on button.btn_menu span:nth-child(1) { transform: rotate(45deg); top: 10px; width: 30px; }
	header.on button.btn_menu span:nth-child(2) { display: none; }
	header.on button.btn_menu span:nth-child(3) { transform: rotate(135deg); bottom: 18px; width: 30px; }

	




	header.on nav > ul { overflow-y: scroll; height: 100%; padding: 0 6.25vw; }
	header nav > ul > li  { position: relative; top: 140px; }
	header.on nav > ul > li:nth-child(2) > button.btn_sub { font-family: 'GowunDodum-Regular'; }
	header.on ul.sub > li > a { display: block; padding: 6px 0; font-family: 'GowunDodum-Regular'; }
	header nav > ul > li > button { position: relative; top: 0px; display: block; width: 100%; height: 3em; color: black; font-size: 1.25em; line-height: 3; }
	header nav > ul > li > button::after { content: ""; display: block; position: absolute; right: 0.5em; top: 50%; transform: rotate(45deg); width: 15px; height: 1px; background: black; }
	header nav > ul > li > button::before { content: ""; display: block; position: absolute; right: 0; top: 50%; transform: rotate(-45deg); width: 15px; height: 1px; background: black; }
	header nav > ul > li.active > button::after { transform: rotate(-45deg); }
	header nav > ul > li.active > button::before { transform: rotate(45deg); }

	
	header.on ul.sub { overflow: hidden; position: relative; height: 0; transition: height 0.2s; }
	header nav > ul > li:nth-child(1)[class ~= "active"] > ul.sub { height: 7.5em; }
	header nav > ul > li:nth-child(2)[class ~= "active"] > ul.sub { height: 10em; }
	header nav > ul > li:nth-child(3)[class ~= "active"] > ul.sub { height: 5em; }
	header nav > ul > li:nth-child(4)[class ~= "active"] > ul.sub { height: 7.5em; }
	header nav > ul > li:nth-child(5)[class ~= "active"] > ul.sub { height: 2.5em; }
	header.on ul.sub > li > a { z-index: 45; position: relative; display: block; width: 100%; height: 2.5em; padding-left: 2em; color: black; font-size: 1em; line-height: 2.5; }


	header > div.logo { z-index: 100; position: absolute; left: 30px; top: 10px; width: 10%; }
	header .logo { position: relative; display: inline-block; }
	header .logo h1 { position: relative; font-size: 20px; font-weight: normal; font-family: 'PlayfairDisplay-Regular'; }
	header .logo h1::before { content: ""; display: block; position: absolute; left: -10px; bottom: 5px; width: 2px; height: 40px; background: black; }
	header .logo p { font-size: 10px; font-family: 'Montserrat-Thin'; font-weight: bold; letter-spacing: 2px; }


	/* header(M_end) */




	/* footer(M_start)*/

	section.footer { margin-top: 50px; width: 100%; height: 280px; background: #4c7e2e; color: #fff; }
	section.footer .inner_wrap { padding: 0 6.25vw; height: 100%; }


	section.footer div.logo { position: relative; left: 50%; top: 10px; transform: translateX(-50%); text-align: center; }
	section.footer .logo h3 { position: relative; margin-bottom: 10px; font-size: 30px; font-weight: normal; font-family: 'PlayfairDisplay-Regular'; }
	section.footer .logo h3::after { content: ""; display: block; position: absolute; right: 18%; bottom: -19px; transform: translateX(-50%); width: 10px; height: 1px; background: #fff; }
	section.footer .logo h3::before { content: ""; display: block; position: absolute; left: 20%; bottom: -19px; transform: translateX(-50%); width: 10px; height: 1px; background: #fff; }
	section.footer .logo p { font-size: 12px; font-family: 'Montserrat-Thin'; font-weight: bold; letter-spacing: 5px; }


	section.footer p.copy { display: inline-block; position: relative; top: 48%; left: 50%; transform: translate(-50%, -48%); font-size: 12px; font-family: 'GowunDodum-Regular'; }


	section.footer div.ft_wrap { display: inline-block; position: relative; top: 5%; left: 5%; transform: translate(-5%, 5%); }
	section.footer div.ft_wrap div.ft_ico { position: relative; top: 20%; left: 50%; transform: translate(-50%, -10%); margin-bottom: 15px; }
	section.footer div.ft_wrap div.ft_ico a:first-child { position: relative; left: 36%; }
	section.footer div.ft_wrap div.ft_ico a:last-child { position: relative; left: 38%; }
	section.footer div.ft_wrap div.ft_ico img { width: 12%; object-fit: cover; filter: invert(94%) sepia(76%) saturate(2%) hue-rotate(69deg) brightness(115%) contrast(101%); }

	section.footer div.ft_wrap ul {  }
	section.footer div.ft_wrap ul li { float: left; width: calc(33.333% - 7px); font-size: 12px; font-family: 'GowunDodum-Regular'; text-align: center; white-space: nowrap; }
	section.footer div.ft_wrap ul li + li { margin-left: 10px; }
	section.footer div.ft_wrap ul li + li::before { content: ""; display: inline-block; position: relative; top: 1px; margin-right: 20px; width: 1px; height: 12px; background: #fff; }
	section.footer div.ft_wrap ul li:hover a { color: #9DB987; }

	/* footer(M_end)*/


}
/* ####### Mobile(end) ####### */