@charset "utf-8";
/* ====== index.css ====== 
====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== 
====== ====== ====== ====== */

h3.title { font-family: 'OpenSans-medium'; font-style: italic; }
h3 { position: relative; }
h3.title_st_01::before { content: ""; display: block; position: absolute; bottom: 0; height: 2px; background: black; }

section.coporation h3::before { content: ""; display: block; position: absolute; top: 50%; left: -10px; transform: translateY(-50%); width: 2px; background: black; }


section { position: relative; overflow: hidden; }

a.more { z-index: 50; position: relative; display: block; font-family: 'PlayfairDisplay-simibold'; color: #fff; border: 1px solid #000; text-align: center; }
	a.more span { z-index: 60; position: relative; color: #000; vertical-align: middle; }
	a.more:hover span { color: #fff; }

	a.more::after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 0; height: 100%; background: black; transition: width 0.3s; }
	a.more:hover::after { width: 100%; background: black; transition: width 0.3s; }


/* ####### Desktop(start) ####### */
	@media screen and (min-width: 1025px) {

	section + section { margin-top: 50px; }

	.inner_wrap { width: 1180px; margin: 0 auto; }

	h3.title { font-size: 50px; }

	.pre_next {  }

	.btn_pre { width: 4em; height: 1.8em; }
	.btn_next { width: 4em; height: 1.8em; }

	span.pre { display: inline-block; width: 3em; height: 0.75em; background: black; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); transform: rotateY(180deg); }
	span.next { display: inline-block; width: 3em; height: 0.75em; background: black; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); }

	a.more { width: 80px; height: 40px; font-size: 20px; }

	
	
	section.reivew > div.inner_wrap > div.pre_next { position: relative; bottom: 0; width: 100%; }






	/* section.visual(D_start) */

	section.visual { position: relative; top: 0; width: 100%; height: 100vh }

	section.visual .slides { z-index: 50; position: absolute; top: 0; width: 100%; height: 100vh; }

	section.visual .slides .v_num { position: absolute; right: 20px; top: 78vh; display: inline-block; }
	section.visual .slides .v_num span { font-size: 30px; font-family: 'PlayfairDisplay-midium'; }
	section.visual .slides .v_num span:first-of-type { position: absolute; right: 50px; bottom: 20px; }
	section.visual .slides .v_num span:nth-of-type(2) { position: absolute; right: 35px; bottom: 5px; }

	section.visual .slides .v_img { position: relative; top: 0; right: 0; display: inline-block; width: 100%; height: 85vh; }
	section.visual .slides .v_img img { position: absolute; top: 0; right: 0; width: 60%; height: 100%; object-fit: cover; }

	section.visual .slides .v_desc_wrap { position: absolute; left: 40px; bottom: 14.6%; /*bottom: 155px;*/ width: 80%; }
	section.visual .slides .v_desc_wrap h3 { margin-bottom: 60px; font-size: 60px; font-family: 'PlayfairDisplay-simibold'; }
	section.visual .slides .v_desc_wrap p.desc { margin-bottom: 20px; font-size: 24px; font-family: 'GowunDodum-Regular'; }
	section.visual .slides .v_desc_wrap p.evt { margin-bottom: 55px; font-size: 18px; font-family: 'GowunDodum-Regular'; }
	section.visual .slides .v_desc_wrap button { padding: 10px 20px; border: 1px solid black; }


	section.visual div.pre_next { z-index: 55; position: relative; left: 40%; top: 90%;  width: 60%; display: inline-block; }
	section.visual div.pre_next button.btn_pre { position: absolute; left: 0; }
	section.visual div.pre_next button.btn_next { position: absolute; right: 0; }


	/* section.visual(D_end) */





	/* section.brand(D_start) */


	section.brand { text-align: center; }

	section.brand > div:first-child { width: 100%; height: 400px; }
	section.brand div.b_img_01 img { width: 100%; height: 100%; object-fit: cover; }

	section.brand h3 { position: relative; bottom: 330px; display: block; text-align: center; }

	section.brand div.b_img_02 { position: relative; bottom: 260px; }
	section.brand div.b_img_02 img { width: 20%; border-radius: 45% 45% 0 0; }

	section.brand p { position: relative; bottom: 200px; display: inline-block; width: 40%; font-size: 24px; font-family: 'GowunDodum-Regular'; }


	/* section.brand(D_end) */





	/* section.subs(D_start) */

	section.subs {  }


	section.subs .inner_wrap h3 { margin-bottom: 95px; }
	section.subs .inner_wrap h3 span { font-family: 'GowunDodum-Regular'; }
	section.subs h3.title_st_01::before { width: 450px; }


	section.subs .inner_wrap .subs_wrap { display: flex; flex-direction: column; width: 100%; height: 660px; }

	section.subs .inner_wrap .subs_wrap_01 { display: inline-block; margin-bottom: 13px; width: 100%; height: 50%; }
	section.subs .inner_wrap .subs_wrap_01 div:first-child { float: left; position: relative; display: inline-block; padding: 40px 30px; margin-right: 10px; width: calc(60% - 13px); height: 100%; background-image: url("../images/img_index_sectionSubs_01.jpg"); background-size: cover; }

	section.subs .inner_wrap .subs_wrap_01 > div:last-child { position: relative; padding: 40px 30px; display: inline-block; width: calc(40% - 13px); height: 100%; background-image: url("../images/img_index_sectionSubs_02.jpg"); background-size: cover; }


	section.subs .inner_wrap .subs_wrap_02 { display: inline-block; width: 100%; height: 50%; }
	section.subs .inner_wrap .subs_wrap_02 div:first-child { float: left; display: inline-block; padding: 40px 30px; margin-right: 10px; width: calc(40% - 13px); height: 100%;  background-image: url("../images/img_index_sectionSubs_03.jpg"); background-size: cover; }
	section.subs .inner_wrap .subs_wrap_02 > div:last-child { padding: 40px 30px; display: inline-block; width: calc(60% - 13px); height: 100%; background-image: url("../images/img_index_sectionSubs_04.jpg"); background-size: cover; }


	section.subs .inner_wrap div > p { position: relative; z-index: 40; margin-bottom: 50px; font-size: 30px; font-family: 'GowunDodum-Regular'; }

	section.subs .inner_wrap div button { position: relative; z-index: 40; padding: 10px 20px; border: 1px solid black; }

	section.subs div.pagination { display: none; }


	/* section.subs(D_end) */





	/* section.coporation(D_start) */


	section.coporation { margin-top: 100px; padding: 90px 0; width: 100%; background: #fdfaf4; }
	section.coporation h3 { position: relative; }
	section.coporation h3::before { height: 50px; }

	section.coporation .sub_title { margin-top: 100px; font-size: 36px; font-family: 'OpenSans-semibold'; }
	section.coporation .desc { position: relative; left: 110px; display: block; margin-top: 20px; margin-bottom: 100px; font-size: 26px; font-family: 'GowunDodum-Regular'; }
	section.coporation p.desc::before { content: ""; display: block; position: relative; left: -110px; top: 20px; width: 95px; height: 1px; background: black; }


	section.coporation .overview { height: 100%; }
	section.coporation .overview p { display: block; }
	section.coporation .overview > li.over { float: left; display: block; padding: 0 10px; width: 33.3333%; text-align: center; }
	section.coporation .overview > li.over .c_img { display: inline-block; width: 200px; height: 200px; }
	section.coporation .overview > li.over .c_img img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .overview > li.over .over_title { font-size: 26px; font-family: 'OpenSans-medium'; }
	section.coporation .overview > li.over .over_desc { display: inline-block; margin-top: 20px; font-size: 18px; font-family: 'GowunDodum-Regular'; margin-bottom: 170px; width: 50%; } 
	section.coporation .overview > li.over:first-child {  }


	section.coporation .select {  }
	section.coporation .select .select_wrap { display: flex; flex-direction: column; width: 100%; height: 660px; }

	section.coporation .select_desc_wrap { position: relative; padding: 40px 15px; }
	section.coporation .select_desc_wrap p:first-child { display: inline-block; transform: rotate(180deg); height: 15%; font-size: 72px; font-family: 'Catamaran-Bold'; color: #ccc; }
	section.coporation .select_desc_wrap p.select_desc_01 { position: relative; bottom: 30px; margin-bottom: 50px; margin-bottom: 10px; font-size: 18px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p.select_desc_02 { margin-bottom: 10px; font-size: 24px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p.select_desc_03 { font-size: 18px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p:last-child { position: absolute; bottom: 20px; right: 20px; display: inline-block; height: 15%; font-size: 72px; font-family: 'Catamaran-Bold'; color: #ccc; }


	section.coporation .select .select_wrap_01 { width: 100%; height: 50%; }
	section.coporation .select .select_wrap_01 div:first-child { float: left; display: inline-block; width: 30%; height: 100%; }
	section.coporation .select .select_wrap_01 div:first-child img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .select .select_wrap_01 div:nth-child(2) { float: left; display: inline-block; width: 30%; height: 100%; background: #fff; }
	section.coporation .select .select_wrap_01 div:last-child { display: inline-block; width: 40%; height: 100%; }
	section.coporation .select .select_wrap_01 div:last-child img { width: 100%; height: 100%; object-fit: cover; }

	section.coporation .select .select_wrap_02 { width: 100%; height: 50%; }
	section.coporation .select .select_wrap_02 div:first-child { float: left; display: inline-block; width: 70%; height: 100%; }
	section.coporation .select .select_wrap_02 div:first-child img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .select .select_wrap_02 div:last-child { display: inline-block; width: 30%; height: 100%; background: #fff; }



	/* section.coporation(D_end) */





	/* section.reivew(D_start) */


	section.reivew { margin-top: 50px; }
	section.reivew h3 { margin-bottom: 110px; }
	section.reivew h3.title_st_01::before { width: 200px; }
	section.reivew div.view_mask { overflow: hidden; width: 100%; }
	section.reivew ul { width: 150%; }
	section.reivew ul > li { float: left; position: relative; width: 16.6666%; padding: 0 10px; text-align: center; display: inline-block; }
	section.reivew ul > li + li {  }
	section.reivew ul li > div.F_img { position: relative; z-index: 20; width: 280px; height: 400px; }
	section.reivew ul li:hover > div.F_img::after { content: ""; position: absolute; top: 0; display: block; width: 280px; height: 400px; background: rgba(0, 0, 0, 0.6); }
	section.reivew ul li div.F_img img { width: 100%; height: 100%; object-fit: cover; }

	section.reivew ul li:hover > div.F_desc { display: block; }
	section.reivew ul li > div.F_desc { display: none; position: absolute; left: 10px; z-index: 30; padding: 0 10px; width: 280px; height: 400px; }
	section.reivew ul li > div.F_desc p.r_name { margin: 10px 0; font-size: 18px; font-family: 'OpenSans-medium'; color: #fff; }
	section.reivew ul li > div.F_desc p.r_desc { font-size: 16px; font-family: 'GowunDodum-Regular'; color: #fff; } 

	section.reivew ul li > div.F_desc div.h_img { width: 100px; height: 100px; margin: 60px auto 20px; }
	section.reivew ul li > div.F_desc div.h_img img { width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }

	section.reivew div.pre_next { position: relative; display: inline-block; margin-top: 20px; width: 100%; }
	section.reivew div.pre_next button.btn_next { position: absolute; right: 0; }


	/* section.reivew(D_end) */








}
/* ####### Desktop(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* ####### Tablet(start) ####### */
	@media screen and (min-width: 768px) and (max-width: 1024px) {

	section {  }

	.inner_wrap { width: 100%; margin: 0 auto; }


	h3.title { font-size: 50px; }


	.btn_pre { width: 4em; height: 1.8em; }
	.btn_next { width: 4em; height: 1.8em; }

	span.pre { display: inline-block; width: 3em; height: 0.75em; background: black; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); transform: rotateY(180deg); }
	span.next { display: inline-block; width: 3em; height: 0.75em; background: black; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); }

	a.more { width: 80px; height: 40px; font-size: 20px; }

	section.reivew > div.inner_wrap > div.pre_next { position: relative; bottom: 0; width: 100%; }


	/* section.visual(T_start) */

    section.visual { position: relative; top: 0; width: 100%; height: 100vh }

	section.visual .slides { z-index: 50; position: absolute; top: 0; width: 100%; height: 100vh;  }

	section.visual .slides .v_num { position: absolute; right: 20px; top: 78vh; display: inline-block; }
	section.visual .slides .v_num span { font-size: 30px; font-family: 'PlayfairDisplay-midium'; }
	section.visual .slides .v_num span:first-of-type { position: absolute; right: 50px; bottom: 20px; }
	section.visual .slides .v_num span:nth-of-type(2) { position: absolute; right: 35px; bottom: 5px; }

	section.visual .slides:nth-child(1) .v_num span { color: #fff; }


	section.visual .slides .v_img { position: relative; top: 0; right: 0; display: inline-block; width: 100%; height: 85vh; }
	section.visual .slides .v_img img { position: absolute; top: 0; right: 0; width: 60%; height: 100%; object-fit: cover; }

	section.visual .slides .v_desc_wrap { position: absolute; left: 40px; bottom: 14.6%; padding: 20px 0; width: 70%; background: #fff; }
	section.visual .slides .v_desc_wrap h3 { margin-bottom: 60px; font-size: 60px; font-family: 'PlayfairDisplay-simibold'; }
	section.visual .slides .v_desc_wrap p.desc { margin-bottom: 20px; font-size: 24px; font-family: 'GowunDodum-Regular'; line-height: 1.5; }
	section.visual .slides .v_desc_wrap p.evt { margin-bottom: 55px; font-size: 18px; font-family: 'GowunDodum-Regular'; }
	section.visual .slides .v_desc_wrap button { padding: 10px 20px; border: 1px solid black; }

	section.visual div.pre_next { z-index: 55; position: relative; left: 40%; top: 90%;  width: 60%; display: inline-block; }
	section.visual div.pre_next button.btn_pre { position: absolute; left: 0; }
	section.visual div.pre_next button.btn_next { position: absolute; right: 0; }


	/* section.visual(T_end) */





	/* section.brand(T_start) */


	section.brand { width: 100%; text-align: center; }

	section.brand div.b_img_01 { width: 100%; height: 40vh; }
	section.brand div.b_img_01 img { width: 100%; height: 100%; object-fit: cover; }

	section.brand h3 { position: relative; bottom: 300px; display: inline-block; }

	section.brand div.b_img_02 { position: relative; bottom: 260px; }
	section.brand div.b_img_02 img { width: 40%; border-radius: 45% 45% 0 0; }

	section.brand p { position: relative; bottom: 220px; display: inline-block; width: 60%; font-size: 24px; font-family: 'GowunDodum-Regular'; }


	/* section.brand(T_end) */





	/* section.subs(T_start) */

	section.subs { padding: 0 3.90623vw; height: 100vh; }


	section.subs .inner_wrap h3 { margin-bottom: 95px; }
	section.subs .inner_wrap h3 span { font-family: 'GowunDodum-Regular'; }
	section.subs h3.title_st_01::before { width: 440px; }


	section.subs .inner_wrap .subs_wrap { display: flex; flex-direction: column; width: 100%; height: 660px; }

	section.subs .inner_wrap .subs_wrap_01 { display: inline-block; margin-bottom: 13px; width: 100%; height: 50%; }
	section.subs .inner_wrap .subs_wrap_01 div:first-child { float: left; position: relative; display: inline-block; padding: 40px 30px; margin-right: 10px; width: calc(60% - 13px); height: 100%; background: url("../images/img_index_sectionSubs_01.jpg"); background-position: -2% 0; background-size: cover; }

	section.subs .inner_wrap .subs_wrap_01 > div:last-child { position: relative; padding: 40px 30px; display: inline-block; width: calc(40% - 13px); height: 100%; background-image: url("../images/img_index_sectionSubs_02.jpg"); background-size: cover; background-position: 30% 0; }


	section.subs .inner_wrap .subs_wrap_02 { display: inline-block; width: 100%; height: 50%; }
	section.subs .inner_wrap .subs_wrap_02 div:first-child { float: left; display: inline-block; padding: 40px 30px; margin-right: 10px; width: calc(40% - 13px); height: 100%;  background-image: url("../images/img_index_sectionSubs_03.jpg"); background-position: 40% 0; background-size: cover; }
	section.subs .inner_wrap .subs_wrap_02 > div:last-child { padding: 40px 30px; display: inline-block; width: calc(60% - 13px); height: 100%; background-image: url("../images/img_index_sectionSubs_04.jpg"); background-size: cover; }


	section.subs .inner_wrap div > p { position: relative; z-index: 40; margin-bottom: 40px; font-size: 30px; font-family: 'GowunDodum-Regular'; }

	section.subs .inner_wrap div button { position: relative; z-index: 40; padding: 10px 20px; border: 1px solid black; }

	section.subs div.pagination { display: none; }


	/* section.subs(T_end) */





	/* section.coporation(T_start) */


	section.coporation { width: 100%; background: #fdfaf4; padding: 60px 3.90623vw; }
	section.coporation h3::before { height: 50px; }

	section.coporation .sub_title { margin-top: 100px; font-size: 36px; font-family: 'OpenSans-semibold'; }
	section.coporation .desc { position: relative; left: 110px; display: block; margin-top: 20px; margin-bottom: 100px; font-size: 26px; font-family: 'GowunDodum-Regular'; }
	section.coporation p.desc::before { content: ""; display: block; position: relative; left: -110px; top: 20px; width: 95px; height: 1px; background: black; }


	section.coporation .overview { height: 100%; }
	section.coporation .overview p { display: block; }
	section.coporation .overview > li.over { float: left; display: block; padding: 0 10px; width: 33.3333%; text-align: center; }
	section.coporation .overview > li.over .c_img { display: inline-block; width: 200px; height: 200px; }
	section.coporation .overview > li.over .c_img img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .overview > li.over .over_title { font-size: 26px; font-family: 'OpenSans-medium'; }
	section.coporation .overview > li.over .over_desc { display: inline-block; margin-top: 20px; margin-bottom: 170px; width: 80%; font-size: 18px; font-family: 'GowunDodum-Regular'; line-height: 1.5; } 
	section.coporation .overview > li.over:first-child {  }


	section.coporation .select {  }
	section.coporation .select .select_wrap { display: flex; flex-direction: column; width: 100%; height: 660px; }

	section.coporation .select_desc_wrap { position: relative; padding: 40px 15px; }
	section.coporation .select_desc_wrap p:first-child { display: inline-block; transform: rotate(180deg); height: 15%; font-size: 72px; font-family: 'Catamaran-Bold'; color: #ccc; }
	section.coporation .select_desc_wrap p.select_desc_01 { position: relative; bottom: 50px; margin-bottom: 5px; font-size: 16px; font-family: 'GowunDodum-Regular'; line-height: 1.5; }
	section.coporation .select_desc_wrap p.select_desc_02 { position: relative; bottom: 40px; font-size: 20px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p.select_desc_03 { position: relative; bottom: 30px; font-size: 18px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p:last-child { position: absolute; bottom: 20px; right: 20px; display: inline-block; height: 15%; font-size: 72px; font-family: 'Catamaran-Bold'; color: #ccc; }


	section.coporation .select .select_wrap_01 { width: 100%; height: 50%; }
	section.coporation .select .select_wrap_01 div:first-child { float: left; display: inline-block; width: 30%; height: 100%; }
	section.coporation .select .select_wrap_01 div:first-child img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .select .select_wrap_01 div:nth-child(2) { float: left; display: inline-block; width: 30%; height: 100%; background: #fff; }
	section.coporation .select .select_wrap_01 div:last-child { display: inline-block; width: 40%; height: 100%; }
	section.coporation .select .select_wrap_01 div:last-child img { width: 100%; height: 100%; object-fit: cover; }

	section.coporation .select .select_wrap_02 { width: 100%; height: 50%; }
	section.coporation .select .select_wrap_02 div:first-child { float: left; display: inline-block; width: 70%; height: 100%; }
	section.coporation .select .select_wrap_02 div:first-child img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .select .select_wrap_02 div:last-child { display: inline-block; width: 30%; height: 100%; background: #fff; }



	/* section.coporation(T_end) */





	/* section.reivew(T_start) */



	section.reivew { margin-top: 80px; padding: 0 3.90623vw; }
	section.reivew h3 { margin-bottom: 60px; }
	section.reivew h3.title_st_01::before { width: 180px; }
	section.reivew .inner_wrap { overflow: hidden; }
	section.reivew ul { width: 150%; }
	section.reivew ul > li { float: left; position: relative; width: 16.6666%; padding: 0 10px; text-align: center; }
	section.reivew ul li > div.F_img { position: relative; width: 100%; height: 230px; }
	section.reivew ul li > div.F_img::after { content: ""; display: block; position: absolute; top: 230px;  width: 100%; height: 160px; background: #fff; box-shadow: 1px 1px 1px #ddd; border-top: 0; }
	section.reivew ul li div.F_img img { width: 100%; height: 100%; object-fit: cover; }

	section.reivew ul li > div.F_desc { position: absolute; left: 0; top: 180px; z-index: 30; display: block;  width: 100%; height: 100%; text-align: center; }
	
	section.reivew ul li > div.F_desc p.r_name { position: relative; bottom: 20px; margin: 10px 0; display: inline-block; width: 90%; font-size: 16px; font-family: 'OpenSans-medium'; }
	section.reivew ul li > div.F_desc p.r_desc { overflow: scroll; position: relative; bottom: 20px; display: inline-block; width: 85%; height: 30%; font-size: 14px; font-family: 'GowunDodum-Regular'; } 
	/*section.reivew ul li > div.F_desc p.r_desc::after { content: ""; display: block; position: relative; bottom: 110px;  width: 100%; height: 160px; background: #fff; box-shadow: 1px 1px 1px #ddd; border-top: 0; }*/

	section.reivew ul li > div.F_desc div.h_img { position: relative; width: 50px; height: 50px; margin: 30px auto; }
	section.reivew ul li > div.F_desc div.h_img img { width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }

	section.reivew div.pre_next { position: relative; margin-top: 180px; display: inline-block; width: 100%; }
	section.reivew div.pre_next button.btn_next { position: absolute; right: 0; }


	/* section.reivew(T_end) */





/* ####### Tablet(end) ####### */

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!####!!!!!!!!!!!!####!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!##!!!!!!!!!!##!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!##!!!!!!!!##!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!##!!!!!!##!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!##!!!!##!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!##!##!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!##!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ####### Mobile(start) ####### */

	@media screen and (max-width: 767px) {


	.inner_wrap { width: 100%; margin: 0 auto; }


	h3.title { font-size: 30px; }


	.pre_next { position: relative; }

	.btn_pre { width: 4em; height: 1.8em; }
	.btn_next { width: 4em; height: 1.8em; position: absolute; right: 0; }

	span.pre { display: inline-block; width: 3em; height: 0.75em; background: black; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); transform: rotateY(180deg); }
	span.next { display: inline-block; width: 3em; height: 0.75em; background: black; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); }

	a.more { width: 70px; height: 36px; font-size: 18px; background: rgba(255, 255, 255, 0.5); }

	section.reivew > div.inner_wrap > div.pre_next { position: relative; bottom: 0; width: 100%; }





	/* section.visual(M_start) */

    section.visual { position: relative; top: 0; width: 100%; height: 100vh }

	section.visual .slides { z-index: 50; position: absolute; top: 0; width: 100%; height: 100vh; }


	section.visual .slides .v_num { position: absolute; z-index: 50; right: 20px; top: 78vh; display: inline-block; }
	section.visual .slides .v_num span { font-size: 30px; font-family: 'PlayfairDisplay-midium';  }
	section.visual .slides .v_num span:first-of-type { position: absolute; right: 50px; bottom: 20px;  }
	section.visual .slides .v_num span:nth-of-type(2) { position: absolute; right: 35px; bottom: 5px; }
	section.visual .slides:nth-child(1) .v_num span { color: #fff; }
	section.visual .slides:nth-child(1) .v_num span:first-of-type { color: black; }
	section.visual .slides:nth-child(1) .v_num span:nth-of-type(2) { color: black; }

	section.visual .slides .v_img { position: relative; top: 0; right: 0; display: inline-block; width: 100%; height: 85vh; }
	section.visual .slides .v_img img { position: absolute; top: 0; right: 0; width: 50%; height: 100%; object-fit: cover; }


	section.visual .slides .v_desc_wrap { position: absolute; bottom: 14.6%; padding: 20px 20px 40px; width: 85%; background: #fff; }
	section.visual .slides .v_desc_wrap h3 { margin-bottom: 30px; font-size: 30px; font-family: 'PlayfairDisplay-simibold'; }
	section.visual .slides .v_desc_wrap p.desc { margin-bottom: 20px; font-size: 18px; font-family: 'GowunDodum-Regular'; line-height: 1.5; }
	section.visual .slides .v_desc_wrap p.evt { margin-bottom: 20px; font-size: 14px; font-family: 'GowunDodum-Regular'; }
	section.visual .slides .v_desc_wrap button { padding: 10px 20px; border: 1px solid black; }

	section.visual div.pre_next { z-index: 55; position: relative; left: 40%; top: 90%;  width: 60%; display: inline-block; }
	section.visual div.pre_next button.btn_pre { position: absolute; left: 0; }
	section.visual div.pre_next button.btn_next { position: absolute; right: 0; }


	/* section.visual(M_end) */




	/* section.brand(M_start) */


	section.brand { text-align: center; }

	section.brand div.b_img_01 { width: 100%; height: 40vh; }
	section.brand div.b_img_01 img { width: 100%; height: 100%; object-fit: cover; }

	section.brand h3 { position: relative; bottom: 160px; display: inline-block; }

	section.brand div.b_img_02 { position: relative; bottom: 140px; }
	section.brand div.b_img_02 img { width: 60%; border-radius: 45% 45% 0 0; }

	section.brand p { padding: 0 6.25vw; position: relative; bottom: 100px; display: inline-block; width: 100%; font-size: 18px; font-family: 'GowunDodum-Regular'; }


	/* section.brand(M_end) */





	/* section.subs(M_start) */

	section.subs { margin-bottom: 40px; padding: 0 6.25vw; height: 90%; }


	section.subs .inner_wrap h3 { margin-bottom: 50px; }
	section.subs .inner_wrap h3 span { font-family: 'GowunDodum-Regular'; }
	section.subs h3.title_st_01::before { width: 270px; }


	section.subs .inner_wrap .subs_wrap { position: relative; width: 100%; }

	section.subs .inner_wrap .subs_wrap_01 { z-index: 25; position: absolute; display: flex; flex-direction: column; width: 100%;  }
	section.subs .inner_wrap .subs_wrap_01 div:first-child { float: left; position: relative; z-index: 38; display: inline-block; padding: 20px; width: 100%; height: 50%; border-bottom: 1px solid #ddd; }
	section.subs .inner_wrap .subs_wrap_01 div:first-child::before { content: ""; position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; background-image: url("../images/img_index_sectionSubs_01.jpg"); background-size: cover; background-position: 2% 0; }

	section.subs .inner_wrap .subs_wrap_01 > div:last-child { position: relative; padding: 20px; display: block; width: 100%; height: 50%; }
	section.subs .inner_wrap .subs_wrap_01 > div:last-child::before { content: ""; position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; background-image: url("../images/img_index_sectionSubs_02.jpg"); background-size: cover; background-position: 2% 0; }


	section.subs .inner_wrap .subs_wrap_02 { z-index: 20; position: absolute; display: flex; flex-direction: column; width: 100%;  }
	section.subs .inner_wrap .subs_wrap_02 div:first-child { float: left; position: relative; z-index: 40; display: inline-block; padding: 20px; width: 100%; height: 50%; border-bottom: 1px solid #ddd; }
	section.subs .inner_wrap .subs_wrap_02 div:first-child::before { content: ""; position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; background-image: url("../images/img_index_sectionSubs_03.jpg"); background-size: cover; background-position: 2% 0; background-size: cover; }

	section.subs .inner_wrap .subs_wrap_02 > div:last-child { position: relative; padding: 20px; display: block; width: 100%; height: 50%; }
	section.subs .inner_wrap .subs_wrap_02 > div:last-child::before { content: ""; position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; background-image: url("../images/img_index_sectionSubs_04.jpg"); background-size: cover; background-position: 2% 0; background-size: cover; }


	section.subs .inner_wrap div > p { position: relative; z-index: 40; margin-bottom: 50px; font-size: 20px; font-family: 'GowunDodum-Regular'; }

	section.subs .inner_wrap div button.btn { position: relative; z-index: 40; padding: 10px 20px; border: 1px solid #232323; background: rgba(255, 255, 255, 0.5); }


	section.subs div.pagination { position: relative; left: 0; top: 370px; z-index: 20; width: 100%; font-size: 0; text-align: center; }

	section.subs .pagination button.pagination_btn { padding: 10px 10px; }
	section.subs .pagination button.pagination_btn > span { display: inline-block; position: relative;  border-radius: 99999px; width: 16px; height: 16px; background: #fff; transition: all 0.2s linear; border: 1px solid #4c7e2e; }
	section.subs .pagination button:hover > span { width: 40px; transition: width 0.3s; background: #4c7e2e; }
	section.subs .pagination button.active > span { width: 40px; transition: width 0.3s; background: #4c7e2e; }

	/* section.subs(M_end) */





	/* section.coporation(M_start) */


	section.coporation { width: 100%; background: #fdfaf4; padding: 30px 6.25vw; }
	section.coporation h3::before { height: 70px; }

	section.coporation .sub_title { margin-top: 50px; font-size: 24px; font-family: 'OpenSans-semibold'; }
	section.coporation .desc { position: relative; left: 70px; display: block; margin-top: 20px; margin-bottom: 50px; font-size: 18px; font-family: 'GowunDodum-Regular'; }
	section.coporation p.desc::before { content: ""; display: block; position: relative; left: -70px; top: 15px; width: 60px; height: 1px; background: black; }


	section.coporation .overview { height: 100%; }
	section.coporation .overview p { display: block; }
	section.coporation .overview > li.over { display: block; padding: 0 10px; width: 100%; height: 40%; text-align: center; }
	section.coporation .overview > li.over .c_img { display: inline-block; width: 150px; height: 150px; }
	section.coporation .overview > li.over .c_img img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .overview > li.over .over_title { font-size: 20px; font-family: 'OpenSans-medium'; }
	section.coporation .overview > li.over .over_desc { display: inline-block; margin-top: 20px; margin-bottom: 50px; width: 80%; font-size: 15px; font-family: 'GowunDodum-Regular'; line-height: 1.5; } 
	section.coporation .overview > li.over:first-child {  }


	section.coporation .select .select_wrap { display: flex; flex-direction: column; width: 100%; height: 70vh; }

	section.coporation .select_desc_wrap { position: relative; padding: 10px 5px; }
	section.coporation .select_desc_wrap p:first-child { display: inline-block; transform: rotate(180deg); height: 15%; font-size: 40px; font-family: 'Catamaran-Bold'; color: #ccc; }
	section.coporation .select_desc_wrap p.select_desc_01 { position: relative; bottom: 25px; margin-bottom: 5px; font-size: 13px; font-family: 'GowunDodum-Regular'; line-height: 1.5; }
	section.coporation .select_desc_wrap p.select_desc_02 { position: relative; bottom: 25px; font-size: 16px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p.select_desc_03 { position: relative; left: 5px; bottom: 20px; font-size: 12px; font-family: 'GowunDodum-Regular'; }
	section.coporation .select_desc_wrap p:last-child { position: absolute; bottom: 10px; right: 10px; display: inline-block; height: 15%; font-size:  40px; font-family: 'Catamaran-Bold'; color: #ccc; }


	section.coporation .select .select_wrap_01 { width: 100%; height: 50%; }
	section.coporation .select .select_wrap_01 div:first-child { display: none; }
	section.coporation .select .select_wrap_01 div:nth-child(2) { float: left; display: inline-block; width: 60%; height: 100%; background: #fff; }
	section.coporation .select .select_wrap_01 div:last-child { display: inline-block; width: 40%; height: 100%; }
	section.coporation .select .select_wrap_01 div:last-child img { width: 100%; height: 100%; object-fit: cover; }

	section.coporation .select .select_wrap_02 { width: 100%; height: 50%; }
	section.coporation .select .select_wrap_02 div:first-child { float: left; display: inline-block; width: 40%; height: 100%; }
	section.coporation .select .select_wrap_02 div:first-child img { width: 100%; height: 100%; object-fit: cover; }
	section.coporation .select .select_wrap_02 div:last-child { display: inline-block; width: 60%; height: 100%; background: #fff; border-top: 1px solid #fbd987; }



	/* section.coporation(M_end) */





	/* section.reivew(M_start) */

	section.reivew { margin-top: 50px; padding: 0 6.25vw; height: 100%; }
	section.reivew h3 { margin-bottom: 60px; }
	section.reivew h3.title_st_01::before { width: 120px; }

	section.reivew .inner_wrap { overflow: hidden; height: 100%; }
	section.reivew ul div.view_mask { position: relative; width: 100%; }
	section.reivew ul { position: relative; width: 150%; }
	section.reivew ul > li { float: left; position: relative; width: 16.666%; padding: 0 10px; text-align: center; }
	section.reivew ul > li + li { padding: 10px; }
	section.reivew ul li > div.F_img { position: relative; z-index: 20; width: 100%; height: 230px; }
	section.reivew ul li > div.F_img::after { content: ""; display: block; position: absolute; top: 230px;  width: 100%; height: 160px; background: #fff; box-shadow: 1px 1px 1px 1px #ddd; border-top: 0; }
	section.reivew ul li div.F_img img { width: 100%; height: 100%; object-fit: cover; }

	section.reivew ul li > div.F_desc { position: absolute; left: 0; top: 180px; z-index: 30; display: block; padding: 0 10px; width: 100%; height: 90%; text-align: center; }
	
	section.reivew ul li > div.F_desc p.r_name { position: relative; margin: 10px 0; font-size: 16px; font-family: 'OpenSans-medium'; }
	section.reivew ul li > div.F_desc p.r_desc { overflow: scroll; position: relative; padding: 10px; width: 100%; height: 30%; font-size: 14px; font-family: 'GowunDodum-Regular'; } 


	section.reivew ul li > div.F_desc div.h_img { position: relative; width: 80px; height: 80px; margin: 10px auto; }
	section.reivew ul li > div.F_desc div.h_img img { width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }

	section.reivew div.pre_next { position: relative; top: 190px; display: inline-block; width: 100%; }
	section.reivew div.pre_next button.btn_next { position: absolute; right: 0; }
	section.reivew div.pre_next button.btn_pre span.pre { position: absolute; left: 0; top: 1px; }
	section.reivew div.pre_next button.btn_next span.next { position: absolute; right: 0; top: 1px; }
	

	/* section.reivew(M_end) */

	



	

/* ####### Mobile(end) ####### */
}